body{
    margin: 0%;
    padding: 0%;
}
.navbar{
    background-color: #FF2D20;
}
.logo{
    font-size: 50px;
    color: #fff;
}
.nav{
    background-color: #DCDCDC;
}
 .container {
    /* position: absolute; */
    top: 11%;
    /* right: 80%; */
    /* transform: translate(50%, 50%); */
 } 
 